# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac / Linux / Windows OS files
.DS_Store
Thumbs.db

# Logs
*.log
